@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #000000; /* Fondo negro */
  color: white;
}

nav {
  background-color: #000000; /* Fondo negro para el nav */
  z-index: 10;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  color: #E6007E; /* Rosa para el logo */
  text-shadow: 0 0 10px #E6007E;
}

.navbar-nav .nav-link {
  color: white;
  font-size: 1rem;
  margin-right: 15px;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #E6007E; /* Cambio de color al pasar el ratón */
}

/* IMAGEN PRINCIPAL */
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.main-container .image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 30px #E6007E;
  transition: 0.3s ease;
}

.main-container .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Animación de hover en la imagen */
.main-container .image:hover {
  animation: animate 1.5s ease-in-out infinite;
}

@keyframes animate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.content h1 {
  font-size: 2.5rem;
  color: white;
  margin-top: 20px;
}

.content h1 span {
  color: #E6007E;
}

.content .typewriter {
  font-size: 2rem;
  font-weight: 600;
}

.content .typewriter-text {
  color: #E6007E;
  text-shadow: 0 0 10px #E6007E;
}

.content p {
  font-size: 1rem;
  margin-top: 20px;
}

.content button {
  width: 50%;
  height: 50px;
  background-color: #E6007E;
  color: white;
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 50px;
  margin-top: 30px;
  transition: 0.2s;
}

.content button:hover {
  background-color: transparent;
  border: 2px solid #E6007E;
  color: #E6007E;
  box-shadow: 0 0 40px #E6007E;
}

/* RESPONSIVE */
@media (max-width: 884px) {
  .main-container .image {
    width: 200px;
    height: 200px;
  }

  .main-container .content {
    width: 90%;
  }

  .social-links i {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.3rem;
  }

  .content button {
    width: 80%;
  }
}

@media (max-width: 440px) {
  .main-container .image {
    width: 150px;
    height: 150px;
  }

  .content button {
    width: 90%;
  }
}
